@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../views/**/*.blade.php';
@source '../js/**/*.vue';
@source '../js/**/*.js';

@theme {
    --color-mushroom: #e1dcd9;
    --color-elephant: #8f8681;
    --color-thatch: #a67f78;
    --color-gunmetal: #32435f;

    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
